:root{
    --primary: #009688;
    --secondary: #8EDAFC;
    --primary_light: #DADBD4;
    --beige: #F3EEEA;
    --gray_10: #EAEAEA;
    --gray_50: #B1B1B1;
    --gray_80: #6B7376;
}


.background{
    height: 100vh;
    background: linear-gradient(0deg, rgba(218,219,212,1) 90%, rgba(0,150,136,1) 90%);
}



#main_app{
    /* background-color: aqua; */
    height: 97vh;
    width: 90%;
}


/* SIDEBAR */
#sidebar{
    background-color: blue;
    width: 30%;
    min-width: 300px;
    height: 100%;
}

#side_header, .receive_alerts, .contact{
    height: 80px;
    background-color: powderblue;
}

#side_header{
    background-color: var(--gray_10);
}

.actions{
    color: var(--gray_50);
}

.user_searchbar{
    background-color: purple;
    height: 60px;
}

.input-group{
    height: 70%;
    width: 95% !important;
}
.input-group-text, .input-group > input {
    background-color: #fff !important;
    border: none !important;
    color: var(--gray_50) !important;
}


#contacts{
    background-color: rebeccapurple;
    height: calc(100% - 60px - 80px * 2);
    overflow-y: auto;
}



.contact_img, .user_img{
    height: 60px;
    width: 60px;
}
.contact_img > img, .user_img > img{
    border-radius: 50%;
}

.username{
    font-size: 1.1rem;
}

.contact.active{
    /* background-color: ; */
}


/* MAIN CHAT */
#main_chat{
    background-color: plum;
    width: 70%;
    min-width: 400px;
    height: 100%;
}