:root{
    --primary: #009688;
    --secondary: #8EDAFC;
    --primary_light: #DADBD4;
    --beige: #F3EEEA;
    --gray_10: #EAEAEA;
    --gray_50: #B1B1B1;
    --gray_80: #6B7376;
}


.background{
    height: 100vh;
    background: linear-gradient(0deg, rgba(218,219,212,1) 90%, rgba(0,150,136,1) 90%);
}



#main_app{
    /* background-color: aqua; */
    height: 97vh;
    width: 90%;
}
#sidebar{
    background-color: blue;
    width: 30%;
    min-width: 300px;
    height: 100%;
}

#main_chat{
    background-color: plum;
    width: 70%;
    min-width: 400px;
    height: 100%;
}

#side_header, .receive_alerts{
    height: 80px;
    background-color: powderblue;
}

.user_searchbar{
    background-color: purple;
    height: 60px;
}

.user_searchbar > input{
    height: 70%;
    width: 90%;
}